<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CFT Focus Start</title>
    
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
  </head>
  <body>
    <div class="main">
      <div class="header">
        <h2>График</h2>
      </div>
      <h1>Результат:</h1>
      <img src="/static/graph_temp.png">
    </div>
    
  </body>
</html>
    
    
    
    <!-- <img src="/home/primalex/Документы/Автотестирование/Python/CFT_test_audio_web/books_read.png"> -->
