<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CFT Focus Start</title>
    
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
  </head>
  <body>
    <div class="main">
      <div class="header">
        <h2>Тестовое задание</h2>
      </div>
      <h1>Загрузите свой файл формата mp3</h1>
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload MP3>
      </form>
    </div>
    
  </body>
</html>
    
    
    
    <!-- <img src="/home/primalex/Документы/Автотестирование/Python/CFT_test_audio_web/books_read.png"> -->
